
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background: rgb(88, 0, 88);
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            /* border: 1px solid orange */
        }

        form{
            position: relative;
            width: 500px;
            height: auto;
            /* border: 3px solid white; */
            margin: 0px auto
        }


        .container h1{
            /* border: 1px solid */
            font-size: 39px;
        }

        .container p{
            /* border: 1px solid */
            font-size: 19px;
            letter-spacing: 5px;
        }
        .container h1, .container p, .container h3{
            text-align: center;
            color: white;
            
        }

        input:not([type=submit]){
            width: 100%;
            padding: 10px;
            margin-bottom: 30px;
        }

        input[type=submit]{
            width: 100%;
            padding: 14px;
            
        }


      @media screen and (max-width: 550px){
        body{
            width: 100vw;
            padding: 19px;
        }


        form{
           width: 100%;
           
           /* border:1px solid green */
        }


        .container p{
            /* border: 1px solid; */
           margin-top: -5px;
           /* background: black; */
           padding: 10px;
           width: auto;
           text-align: left;
        }
      }
    </style>


    <div class="container">
        <h1>TNION Backend</h1>
        <h3>ADMIN</h3>
        <p for="username">Login</p>

        
        <form action="/admin/dashboard" method="GET" >
            <input id="username" type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <a href="#" style="color: white">Forgotten Password</a>
            <input type="submit" value="Login">
        </form>
    </div>

